In [138]:
import pandas as pd

def categorize_products(activities: pd.DataFrame) -> pd.DataFrame:
    activities.drop_duplicates(['sell_date','product'],inplace=True)
    num = activities.groupby('sell_date').count().reset_index()
    prod = activities.groupby('sell_date').apply(lambda x: ','.join(x['product'].sort_values().tolist()), include_groups=False).reset_index()
    ans = pd.DataFrame({
        'sell_date': num['sell_date'],
        'num_sold':num['product'],
        'products':prod[0]
    })
    return ans

In [139]:
activities = pd.DataFrame({
    'sell_date':['2020-05-30','2020-06-01','2020-06-02','2020-05-30','2020-06-01','2020-06-02','2020-05-30'],
    'product':['Headphone','Pencil','Mask','Basketball','Bible','Mask','T-Shirt']
})
activities

    sell_date     product
0  2020-05-30   Headphone
1  2020-06-01      Pencil
2  2020-06-02        Mask
3  2020-05-30  Basketball
4  2020-06-01       Bible
5  2020-06-02        Mask
6  2020-05-30     T-Shirt

In [140]:
categorize_products(activities)

    sell_date  num_sold                      products
0  2020-05-30         3  Basketball,Headphone,T-Shirt
1  2020-06-01         2                  Bible,Pencil
2  2020-06-02         1                          Mask