In [49]:
import pandas as pd

def total_time(employees: pd.DataFrame) -> pd.DataFrame:
    employees['total_time'] = employees.out_time - employees.in_time
    emp = employees[['event_day','emp_id','total_time']]
    grouped_emp = emp.groupby(['event_day','emp_id']).sum().reset_index()
    grouped_emp.sort_values('emp_id',inplace=True)
    grouped_emp.rename(columns={'event_day':'day'},inplace=True)
    return grouped_emp

In [50]:
employees = pd.DataFrame({
    'emp_id': [1,1,1,2,2],
    'event_day': ['2020-11-28','2020-11-28','2020-12-03','2020-11-28','2020-12-09'],
    'in_time': [4,55,1,3,47],
    'out_time':[32,200,42,33,74]
})

In [51]:
total_time(employees)

          day  emp_id  total_time
0  2020-11-28       1         173
2  2020-12-03       1          41
1  2020-11-28       2          30
3  2020-12-09       2          27