In [74]:
import pandas as pd

In [75]:
def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    employee.sort_values('salary', inplace=True, ascending=False)
    employee.drop_duplicates('salary',inplace=True)
    print(employee)
    SecondHighestSalary = pd.DataFrame({'SecondHighestSalary':[None]})
    if len(employee) > 1:
        SecondHighestSalary.loc[0,'SecondHighestSalary'] = employee['salary'].iloc[1]
    return SecondHighestSalary

In [76]:
employee = pd.DataFrame({   'id':[1,2,3,4,5,6,7,8,9],
                            'salary':[100,200,300,100,500,600,400,600,800]})

employee = pd.DataFrame({   'id':[1],
                            'salary':[100]})

employee = pd.DataFrame({   'id':[1,2],
                            'salary':[100,100]})

In [77]:
second_highest_salary(employee)

   id  salary
0   1     100

  SecondHighestSalary
0                None