In [25]:
import pandas as pd
import numpy as np

def rearrange_products_table(products: pd.DataFrame) -> pd.DataFrame:
    melted = products.melt(id_vars=['product_id'],value_vars=['store1','store2','store3'],var_name='store', value_name='price')
    return melted.dropna(subset='price')

In [26]:
data=[[0,95,100,105],[1,70,np.nan,80]]
products = pd.DataFrame(data, columns=['product_id','store1','store2','store3'])
products

   product_id  store1  store2  store3
0           0      95   100.0     105
1           1      70     NaN      80

In [27]:
rearrange_products_table(products)

   product_id   store  price
0           0  store1   95.0
1           1  store1   70.0
2           0  store2  100.0
4           0  store3  105.0
5           1  store3   80.0