In [3]:
import pandas as pd

customers = pd.DataFrame({'id':[1,2,3,4],'name':['Joe','Henry','Sam','Max']})
orders = pd.DataFrame({'id':[1,2],'customerId':[1,3]})
customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [4]:
orders

   id  customerId
0   1           1
1   2           3

In [11]:
df = pd.merge(customers, orders, how='left', left_on='id', right_on='customerId',suffixes=('_c', '_o'))
df

   id_c   name  id_o  customerId
0     1    Joe   1.0         1.0
1     2  Henry   NaN         NaN
2     3    Sam   2.0         3.0
3     4    Max   NaN         NaN

In [12]:
df_cust = df[df['id_o'].isnull()==True][['name']]
df_cust

    name
1  Henry
3    Max

In [13]:
df_cust.rename(columns={'name':'Customers'},inplace=True)
df_cust

  Customers
1     Henry
3       Max