In [43]:
import pandas as pd

def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    emp = employee.merge(department, left_on='departmentId', right_on='id', suffixes=('_emp','_dep'))
    # grouped = emp.groupby(['name_dep']).max()
    emp.set_index('name_dep',inplace=True)
    emp.sort_values('salary',inplace=True,ascending=False)
    return emp

In [44]:
employee = pd.DataFrame({   'id':[1,2,3,4,5],
                            'name':['Joe','Jim','Henry','Sam','Max'],
                            'salary':[70000,90000,80000,60000,90000],
                            'departmentId':[1,1,2,2,1]})
department = pd.DataFrame({   'id':[1,2],
                            'name':['IT','Sales']})

In [45]:
department_highest_salary(employee, department)

          id_emp name_emp  salary  departmentId  id_dep
name_dep
IT             2      Jim   90000             1       1
IT             5      Max   90000             1       1
Sales          3    Henry   80000             2       2
IT             1      Joe   70000             1       1
Sales          4      Sam   60000             2       2