In [77]:
import pandas as pd

def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    account_count = pd.DataFrame({
        'category':['Low Salary','Average Salary','High Salary'],
        'accounts_count':[
            accounts[accounts.income < 20000].shape[0],
            accounts[(accounts.income >= 20000) & (accounts.income <= 50000)].shape[0],
            accounts[accounts.income > 50000].shape[0]
        ]
    })
    return account_count

In [78]:
accounts = pd.DataFrame({   'account_id':[1,2,3,4],
                            'income':[70000,19000,60000,40000]})

In [79]:
accounts[accounts.income > 20000].shape[0]

3

In [80]:
count_salary_categories(accounts)

         category  accounts_count
0      Low Salary               1
1  Average Salary               1
2     High Salary               2