In [13]:
import pandas as pd

def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    activity.sort_values('event_date',inplace=True)
    activity.drop_duplicates('player_id',inplace=True)
    first_login = pd.DataFrame({
        'player_id':activity['player_id'],
        'first_login':activity['event_date']
    })
    first_login.sort_values('player_id',inplace=True)
    return first_login

In [14]:
activity = pd.DataFrame({   'player_id':[1,1,2,3,3],
                            'device_id':[2,2,3,1,4],
                            'event_date':['2016-03-01','2016-05-02','2017-06-25','2016-03-02','2018-07-03'],
                            'games_played':[5,6,1,0,5]})

In [15]:
game_analysis(activity)

   player_id first_login
0          1  2016-03-01
2          2  2017-06-25
3          3  2016-03-02