In [116]:
import pandas as pd

def sales_persons(sales_person: pd.DataFrame, company: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    sales_ord = sales_person.merge(orders, on='sales_id', how='left',suffixes=['_sales','_ord'])
    all = sales_ord.merge(company, on='com_id', how='left',suffixes=['_person','_com'])
    yes_RED = all[all['name_com'] == 'RED'][['name_person']].drop_duplicates('name_person').rename(columns={'name_person':'name with RED'})
    names_list = yes_RED['name with RED'].to_list()
    # return names_list
    names = sales_person[['name']]
    no_Red = names[~names['name'].isin(names_list)]
    return no_Red

In [117]:
sales_person = pd.DataFrame({ 'sales_id':[1,2,3,4,5],
                        'name':['John','Amy','Mark','Pam','Alex'],
                        'salary':[100000,12000,65000,25000,5000]})

company = pd.DataFrame({ 'com_id':[1,2,3,4],
                        'name':['RED','ORANGE','YELLOW','GREEN'],
                        'city':['Boston','New York','Boston','Austin']})

orders = pd.DataFrame({ 'order_id':[1,2,3,4],
                        'com_id':[3,4,1,1],
                        'sales_id':[4,5,1,4],
                        'amount':[10000,5000,50000,25000]})

In [118]:
sales_persons(sales_person,company,orders)

   name
1   Amy
2  Mark
4  Alex