In [5]:
import pandas as pd

In [14]:
def find_employees(employee):
    emp = employee.merge(employee, left_on='managerId', right_on='id', suffixes=('_emp','_man'))
    good_earners = emp[emp['salary_emp'] > emp['salary_man']].copy()
    # renaming the columns 
    good_earners.rename(columns={'name_emp':'Employee'}, inplace=True)
    return good_earners[['Employee']]

In [12]:
employee = pd.DataFrame({'id':[1,2,3,4],'name':['Joe','Henry','San','Max'],'salary':[70000,80000,60000,90000],'managerId':[3,4,'NaN','NaN']})
employee

   id   name  salary managerId
0   1    Joe   70000         3
1   2  Henry   80000         4
2   3    San   60000       NaN
3   4    Max   90000       NaN

In [15]:
find_employees(employee)

  Employee
0      Joe